/**
 * Float Layout Activity
 **/
 
 .main {
  width:90vw;
  margin:5vw;
 }

 div {
   width:100%;
 }

 .header {
   background: orange;
 }
    
    * {
      box-sizing: border-box;
      text-align: center;
    }
    
    header {
      padding: 20px;
      margin-bottom: 20px;
      color: #333;
      background: #ccc;
    }

    .container1 {
      height: 100px;
      display:flex;
  
    }

    .innerbox{
      height:100%;
      width:33.3%;
    }
    
    #left {
    background-color:#390;
    }
    
    #middle {
      background: blue;
    }
    
    #right {
      background: yellow;
    }

    .container2 {
      height: 100px;
      display:flex;

      }

    
    #full {
      background:gray;
      height: 200px;
      width:100%;
      z-index:1;
    }
    
    #division {
      background: darkblue;
      z-index:2;
    }
    
    aside {
      background:lightgreen;
      z-index:3;
    
    }
    
    footer {
      padding: 20px;
      margin-bottom: 20px;
      color: #333;
      background: #ccc;
    }
    