/**
 * Float Layout Activity
 **/
 .container1 {
    display:flex;
    flex-flow: row column;
    justify-content: center;
    justify-content: space-between;
  }
    .container2 {
      display:flex;
      
      }
    
    * {
      box-sizing: border-box;
      text-align: center;
    }
    
    body {
    }
    
    header {
      padding: 20px;
      margin-bottom: 20px;
      color: #333;
      background: #ccc;
    }
    
    section {
    }
    
    #left {
    background-color:#390;
    width: 33.3%;
    }
    
    #middle {
      background: blue;
      width: 33.3%;
    }
    
    #right {
      background: yellow;
      width:33.3%;
    }
    
    #full {
    }
    
    #division {
    }
    
    aside {
    
    }
    
    footer {
      padding: 20px;
      margin-bottom: 20px;
      color: #333;
      background: #ccc;
    }
    